@page
@model _3SDevTest.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row py-4">
        <div class="col-6">
            <h1>Edit User</h1>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-dark" asp-page="/Users/Index">Back to List</a>
        </div>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-6 px-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.MiddleName" class="control-label"></label>
                <input asp-for="User.MiddleName" class="form-control" />
                <span asp-validation-for="User.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.BirthDate" class="control-label"></label>
                <input asp-for="User.BirthDate" type="date" class="form-control" />
                <span asp-validation-for="User.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.MobileNumber" class="control-label"></label>
                <input asp-for="User.MobileNumber" class="form-control" />
                <span asp-validation-for="User.MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
